# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

import { useContextCart } from "../Context/CartContext";
import React from "react";
import Icon from "../CartWidget/CartWidget";
import { Link, NavLink } from "react-router-dom"
import '../Navbar/NavBar.css'
import AppBar from '@mui/material/AppBar';
import Box from '@mui/material/Box';
import Toolbar from '@mui/material/Toolbar';
import Typography from '@mui/material/Typography';
import Button from '@mui/material/Button';
import IconButton from '@mui/material/IconButton';
import MenuIcon from '@mui/icons-material/Menu';
import ShoppingCartIcon from '@mui/icons-material/ShoppingCart';




export default function Menu() {
  
  const {amount} = useContextCart();
  return (

    <Box sx={{ flexGrow: 1 }}>
      <AppBar position="static">
        <Toolbar>
          <IconButton
            size="large"
            edge="start"
            color="inherit"
            aria-label="menu"
            sx={{ mr: 2 }}
          >
          <NavLink to="/">
          <Icon />
        </NavLink>
          </IconButton>
          <Typography variant="h6" component="div" sx={{ flexGrow: 1 }}>
          <Link className="ItemNav" to="/category/PcEscritorio">PC DE ESCRITORIO</Link>
          <Link className="ItemNav" to="/category/Notebook">NOTEBOOKS</Link>
          <Link className="ItemNav" to="/category/Monitor">MONITORES</Link>
          <Link className="ItemNav" to="/category/PlacadeVideo">PLACAS DE VIDEO</Link>
          </Typography>
          <Link className="Cart" to="/cart">
          
        {amount() !== 0 && amount()}
        <ShoppingCartIcon className="IconCart" />
          MI CARRITO</Link>
        </Toolbar>
      </AppBar>
    </Box>
  );
}
