@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.ItemNav {
  text-decoration: none;
  padding: 10px;
  font-family: "Source Sans Pro", sans-serif;
  color: white
}

.Cart {
  display: flex;
  align-items: center;
  width: "1em";
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}

.IconCart {
  margin-right: 0.5em;
  margin-bottom: 0.1em;
}

.Appbar{
  height: 5rem
}

.CartColor{
  color: white;
}
